html{
    height: 100$;
}
body{
    margin: 0;
    height: 100%;
}
div{
    margin:auto;
    height:800px;
    width:1500px;
    overflow-x:hidden;
}
canvas {
    display: block;
    margin:auto;
    background-color: black;
}
